{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="main">
  <div id="title">
    <h1>{% trans "Available Polls" %}</h1>
  </div>
  <div class="main-content">
    <a href="{% url 'polls-create' %}">{% trans "Add Poll" %}</a>
  </div>
  {% if latests_poll_list %}
  <div class="subheading">
    <ul>
      {% for poll in latests_poll_list %}
        <li><a href="{% url 'polls-detail' poll.id %}">{{ poll.question }}</a><a href="{% url 'polls-delete' poll.id%}" class="right-link">{% trans "Delete" %}</a><a href="{% url 'polls-update' poll.id %}" class="right-link">{% trans "Update" %}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="subheading">
    <p>{% trans "No polls were found" %}
  </div>
  {% endif %}
</div>
{% endblock content %}
