/* Structure */
body {
  color: #636369;
  font-size: 12px;
  background: url('../images/bg_black.png') #FFF;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  width: 100%;
  background: url('../images/bg_white.png') #C4C7C8;
}

#content {
  width: 960px;
  min-height: 300px;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}

h4 {
  font-size: 19px;
  font-weight: bold;
}

h5 {
  font-size: 17px;
  font-weight: bold;
}

h6 {
  font-size: 15px;
  font-weight: bold;
}

a:link,
a:visited,
a:active {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 5px 0;
}

ul {
  list-style-type: none;
  margin: 10px 0;
}

ul li {
  line-height: 20px;
}

label {
  display: inline-block;
  padding-top: 5px;
  font-size: 1.2em;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('../images/check_radio.png') -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url('../images/check_radio.png') -57px top no-repeat;
}

form input[type='reset'],
form input[type='submit'],
form input[type='button'] {
  float: right;
  width: 120px;
  padding: 5px;
  margin: 10px 0 0 5px;
  font-size: 14px;
  color: #6B6B6B;
  cursor: pointer;
  background-color: #D5D5D5;
  border: 1px solid #AFAFAF;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}


/* Header */
header {
  min-height: 100px;
}

#logo {
  width: 150px;
  height: 70px;
  float: left;
  margin: 10px 10px 0 0;
}

#info {
  width: 780px;
  height: 90px;
  float: left;
  display: table;
}

ul#navigation {
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
}

ul#navigation li {
  display: inline;
  float: left;
  margin: 5px;
  border: 1px solid #C4C7C8;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  color: #AFAFAF;
}

ul#navigation li a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

ul#navigation li:hover,
ul#navigation li.current {
  background-color: #D5D5D5;
  color: #6B6B6B;
  border: 1px solid #AFAFAF;
}


/* Content */
#title {
  line-height: 30px;
  border-bottom: 1px solid #C4C7C8;
  margin-bottom: 15px;
}

.subheading {
  width: 600px;
  margin: 0 auto;
}

.subheading h2 {
  text-align: center;
}

.subheading p {
  text-align: right;
}

.main-content {
  margin-left: 50px;
  width: 600px;
  margin: 0 auto;
}


/* Footer */
footer {
  width: 100%;
  min-height: 100%;
  margin: -5px auto;
  padding-top: 5px;
  color: #B1AF8D;
  -moz-box-shadow: 0px 5px 8px 0px #332B2B inset;
  box-shadow: 0px 5px 8px 0px #332B2B inset;
}

#trademark {
  width: 960px;
  height: 30px;
  margin: 0 auto;
  text-align: right;
}

#footer_content {
  width: 960px;
  min-height: 300px;
}