{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<meta content="charset=utf-8" />
{% block head %}
  <title>{% block title %}Django Framework{% endblock %}</title>
  {% block style %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" />
  {% block extrastylesheets %}{% endblock extrastylesheets %}
  {% endblock style %}
  {% block scripts %}
  <script type="text/javascript" src="{% static 'js/jquery-2.0.3.js' %}" ></script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#language-select').on('change', function() {
        $(this).closest('form').trigger('submit');
      });
    });
  </script>
  {% block extrascripts %}{% endblock extrascripts %}
  {% endblock scripts %}
{% endblock head %}

{% block body %}
<div id="wrapper">
  <div id="content">
    <header>
      {% block header %}
        <img id="logo" src="{% static 'images/logo.png' %}" alt="DjangoFW">
        <div id="info">
          <ul id="navigation">
            <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'polls-home' %}">{% trans "Polls" %}</a></li>
            <li><a href="{% url 'blog-home' %}">{% trans "Blog" %}</a></li>
          </ul>
          <div id="language">
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <select name="language" id="language-select">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ language.name_local }}
                </option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
      {% endblock header %}
    </header>

    <div id="content">
      {% block content %}
      <div class="main">
        <h1>Block to replace</h1>
        <p>This message will be replaced and will never be displayed to final users</p>
      </div>
      {% endblock content %}
    </div>
  </div>
</div>

<footer>
  {% block footer %}
    <div id="trademark">
      <p>DjangoFW 2014 &reg.</p>
    </div>
    <div id="footer_content">
      <div class="column">
        <h5>{% trans "Useful Links" %}</h5>
        <ul>
          <li><a href="https://www.djangoproject.com/" target="_blank">Dango Project</a></li>
          <li><a href="https://docs.djangoproject.com/en/1.6/" target="_blank">Django Documentation</a></li>
          <li><a href="http://pinaxproject.com/" target="_blank">Pinax</a></li>
        </ul>
      </div>
      <div class="column">
        <h5>{% trans "English Tutorials" %}</h5>
          <ul>
            <li><a href="https://docs.djangoproject.com/en/dev/intro/tutorial01/" target="_blank">Write Your Fist App</a></li>
            <li><a href="http://effectivedjango.com/" target="_blank">Effective Django</a></li>
            <li><a href="http://www.youtube.com/playlist?list=PLxxA5z-8B2xk4szCgFmgonNcCboyNneMD" target="_blank">Teach Django from Basics (Mike Hibbert)</a></li>
          </ul>
      </div>
      <div class="column">
        <h5>{% trans "Portuguese Tutorials" %}</h5>
          <ul>
            <li><a href="http://docs.djangobrasil.org/intro/tutorial01.html" target="_blank">Escrevendo sua Primeira Aplicação Django</a></li>
            <li><a href="http://www.aprendendodjango.com/" target="_blank">Aprendendo Django</a></li>
          </ul>
      </div>
      <div class="column">
        <h5>{% trans "Good to Know About" %}</h5>
        <ul>
          <li><a href="https://github.com/" target="_blank">GitHub</a></li>
          <li><a href="http://www.virtualenv.org/en/latest/" target="_blank">VirtualEnv</a></li>
          <li><a href="http://south.aeracode.org/" target="_blank">South</a></li>
          <li></li>
        </ul>
      </div>
    </div>
  {% endblock footer %}
</footer>
{% endblock body %}
