{% extends 'base.html' %}
{% load staticfiles %}
{% load currency_formater from custom_tags %}
{% load i18n %}
{% load l10n %}

{% block content %}
<div class="main">
  <div id="title">
    <h1>{% trans "Django Framework" %}</h1>
  </div>
  <div id="center-box">
    <article>
      <h2>{% trans "What is this page for" %}</h2>
      <p>{% trans "This page was built to show a working Django project to a Web Development Class" %}</p>
      <p>{% trans "The source code can be found at <a href='https://github.com/adroaldof/djangofw' target='_blank'>DjangoFW GitHub Repo</a> and you can use it as a guide to build your own Project" %}</p>
    </article>
    <article>
      <h2>{% trans "Contribute" %}</h2>
      <p>{% trans "You can help to make this guide better. If you want contribute with your thoughts and knowledge be welcome" %}</p>
      <p><a href='https://github.com/adroaldof/djangofw' target='_blank'>DjangoFW GitHub Repo</a></p>
    </article>
    <article>
      <p>{% trans "Date" %}: {{ today | date:'SHORT_DATE_FORMAT' }}</p>
      <p>{% trans "Hour" %}: {{ today.time }}</p>
      <p>{% trans "Price" %}: {% currency_formater price %}</p>
    </article>
  </div>
</div>
{% endblock content %}
